*{
    margin: 0;
    padding:0;
}
/* .ul{
    width: 400px;
    padding-left:10px;
    border: 1px solid #f0f;
    overflow: auto;
    list-style: none;
    padding-bottom:30px;
}
li{
    float:left;
    width:68px;
    margin-right: 10px;
    padding:10px;
    border:1px solid #ff0;
} */

.ul{
    width: 402px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid #f0f;
    overflow: visible;
    list-style: none;
    padding-bottom:30px;
}
li{
    width:68px;
    margin:0 0 14px 0;
    padding:10px;
    border:1px solid #ff0;
}
li:nth-child(4n){
    margin-right: 0;
}
li:hover{
    transform: scale(1.1)
}
img{
    width:68px;
    height: 68px;
}